@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
}

.font-miama {
    font-family: 'Miama', sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    background: rgba(0, 0, 0, 1);
    color: #fff;
}

.border{
    border: 4px solid greenyellow;
}

/* Nav bar */
header{
    background: linear-gradient(180deg, #3b3b3b 0%, rgba(119, 119, 119, 0) 100%);
    margin-bottom: 100px;
}
.nav-bar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:55px 0 35px ;
}
.nav-bar i {
    color: #fff;
    display: none;
    /* margin: auto 0; */
}
.logo {
    font-size: 2.25rem;         /* 1rem = 16px */
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}
.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 5px;
}

.nav-btn li a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}
.nav-btn li:first-child {
    background: rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 6px 0;
}

/* Nav banner */
.nav-banner{
    width: 80%;
    margin: 2rem auto 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text {
    max-width: 600px;
    margin-bottom: 24px;
}
.banner-text h1 {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 900;

    line-height: 6rem;
    margin-bottom: 28px;

}
.banner-text h1 span {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    line-height: 5rem;
}
.banner-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    max-width: 60%;
    margin-bottom: 28px;
}

.btn-1 {
    background: rgba(230, 83, 60, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 16px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.banner-text .mobile{
    display: none;
}

.banner-text .btn-1_1 {
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
    border-radius: 40px;
    padding: 16px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.banner-image {
    position: relative;
    color: #fff;
    display: flex;
}

.img-text-card_2 {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 25px 20px 25px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 220px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    right: 400px;
    top: 620px;
}

.red-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff0000;
    margin-right: 15px;
}

.img-text-card_2 h3 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 0.5rem;
}

.img-text-card_2  p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.25rem;
    
}

.img-text-card_1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    padding: 25px 0px 25px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 220px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    right: 20px;
    top: 350px;

}
.img-text-card_1 h3 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 0.5rem;
}

.img-text-card_1  p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    
}

/* habit section styles */
.habit-section{
    width: 80%;
    margin: 10px auto 100px;
}
.habit-cards-container{
    display: flex;
    justify-content: space-between;
}
.habit-section > h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.habit-section > p {
    font-size: 14px;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.5);
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 55px;
    text-align: center;
    letter-spacing: 0.3px;
}
.habit-card {
    text-align: center;
    width: 230px;
}

.habit-card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.habit-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 6px;
}

.habit-card p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/*Run section design */
.run-section {
    width: 80%;
    background: rgba(34, 34, 34, 1);
    border-radius: 18px;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.run-text{
    max-width: 445px;
    margin-left: 55px;

}
.run-section h2{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255); 
    margin-bottom: 14px;
}
.run-section p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 34px;

}
.run-section .run-img {
    width: 370px;
    height: 320px;
    border-radius: 18px;
    margin: 30px 32px;
    background-image: url("images/run.jpg");
    background-position: 67% 32% ;
    background-repeat: no-repeat;
}


/* BMI form design */
.BMI-form-section{
    background: rgb(34, 34, 34);
    margin-bottom: 90px;
}
.BMI-title{
    max-width: 670px;
    margin: 0 auto 90px;
}
.BMI-section h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.BMI-section .BMI-title p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}
.BMI-form{
    width: 80%;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.BMI-form .BMI-chart h4{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 52px;
}


.BMI-chart table {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    text-align: left;
}

table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
    
}

.BMI-chart thead td {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.BMI-calculator h4{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}
.BMI-calculator p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
    max-width: 575px;
}
.calculate-form{
    display: grid;
    grid-template-columns: repeat(2, calc(50%-5px));
    gap: 10px;
    margin-bottom: 34px;


}

.input_1,
.input_2,
.input_3,
.input_4,
.input_5{
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 0 12px 20px;
    border-style: none;
    color: rgba(255, 255, 255, 1);
}
.input_5{
    grid-column: 1/span 2;
}

/* Meet section design */
.Meet-title{
    margin-bottom: 60px;
}
.Meet-section h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
    text-align: center;
}

.Meet-title p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.Meet-title .for-desktop{
    display: block;
}

/* Meet trainer section design */
.meet-team-profile{
    background: rgb(34, 34, 34);
    max-width: 80%;
    margin: 0 auto;
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 100px;
}

.meet-team-profile h4 {
    font-size: 1rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 3px;
    padding-left: 15px;
}

.meet-team-profile p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    padding-bottom: 15px;
}
.meet-team-profile .profile-1{
    background-image: url(images/trainer1.png);
    background-repeat: no-repeat;
    width: 330px;
    height: 275px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 18px;

}
.meet-team-profile .profile-2{
    background-image: url(images/trainer2.png);
    background-repeat: no-repeat;
    width: 330px;
    height: 275px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 18px;

}
.meet-team-profile .profile-3{
    background-image: url(images/trainer3.png);
    background-repeat: no-repeat;
    width: 330px;
    height: 275px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 18px;

}
.meet-team-profile .profile-4{
    background-image: url(images/trainer4.png);
    background-repeat: no-repeat;
    width: 330px;
    height: 275px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 18px;

}
.meet-team-profile .profile-5{
    background-image: url(images/trainer5.png);
    background-repeat: no-repeat;
    width: 330px;
    height: 275px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 18px;

}
.meet-team-profile .profile-6{
    background-image: url(images/trainer6.png);
    background-repeat: no-repeat;
    width: 330px;
    height: 275px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 18px;

}

/* Footer design */
footer{
   width: 100%;
   background: rgba(255, 255, 255, 0.1); 
   margin-bottom: 50px;
}
.footer-container{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 65px;
    padding-bottom: 80px;
}
.Fitness h3{
    font-size: 4.38rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
    margin-bottom: 20px;

}
.Fitness p{
    max-width: 440px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.footer-contact{
    display: flex;
    justify-content: space-between;
}
.footer-service h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;

}
.footer-service li{
    list-style: none;
    margin-bottom: 15px;
}
.footer-service a{
   text-decoration: none;
   color: rgba(255, 255, 255, 0.5);
   font-size: 1.2rem;
}
footer .copyright{
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 35px;
}
hr{
    color: rgba(255, 255, 255, 0.1);

}
.copyright p{
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
    }
@media screen and (max-width:500px){
    .nav-bar, .habit-section, .habit-cards-container, .run-section, .BMI-form, .meet-team-profile, .footer-container, .copyright{
        max-width: 90%;
    }
    .nav-bar i {
        display: inline;
    }
    .nav-btn{
        display: none;
    }
    .nav-banner, .habit-cards-container, .run-section{
        flex-direction: column;
        align-items: center;
    }


    .banner-text h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 20px;
    
    }
    .banner-text h1 span {
        font-size: 3rem;
        line-height: 3rem;
    }
    .banner-text p {
        font-size: 0.80rem;
    }
    .banner-text .desktop{
        display: none;
    }
    .btn-1 {
        padding: 12px 30px;
        font-size: 1rem;
    }
    
    .banner-text .mobile{
        display:inline;
    }
    
    .banner-text .btn-1_1 {
        padding: 12px 30px;
        font-size: 1rem;
    }
    .img-text-card_2 {
        padding: 15px 15px ;
        width: 150px;
        left: 32px;
        top: 800px;
    }
    
    .red-circle {
        width: 30px;
        height: 30px;
    }
    
    .img-text-card_2 h3 {
        font-size: 1rem;
    }
    
    .img-text-card_2  p{
        font-size: .90rem;
        
    }
    
    .img-text-card_1 {
        padding: 15px 15px ;
        width: 150px;
        right: 32px;
        top: 576px;
    }
    .img-text-card_1 h3 {
        font-size: 1rem;
    }
    
    .img-text-card_1  p{
        font-size: .90rem;
        
    }
    /* habit section */

    .habit-cards-container{
        gap: 50px;
    }
    .habit-section > h3 {
        font-size: 2rem;
    }
    .habit-section > p {
        font-size: .80rem;
    }
    .habit-card img {
        margin-bottom: 15px;
    }
    
    .habit-card h4 {
        font-size: 1rem;
    }
    
    .habit-card p {
        font-size: .80rem;
    }

    /* run section */
    .run-text{
        padding-top: 30px;
        max-width: 290px;
        margin: 0 auto;
        padding-bottom: 35px;

    
    }
    .run-section h2{
        font-size: 2rem;
        margin-bottom: 15px;

    }
    .run-section p{
        text-align: justify;
        font-size: .80rem;
        margin-bottom: 24px;
    
    }
    .run-img {
        width: 90%;
        background-size: cover;
    }
    .run-text .btn-for-mobile{
        width: 100%;
        margin-bottom: 30px;
    }

    /*BMI form */
    .BMI-section h3{
        font-size: 2rem;
        /* padding-left: 20px; */
        margin: 0 auto;
        width: 90%;
    }
    .BMI-section .BMI-title p{
        font-size: .80rem;
        margin: 0 auto;
        width: 90%;

    }
    .BMI-form{
        flex-direction: column;
        gap: 45px;
        align-items:flex-start ;
    
    }
    
    .BMI-form .BMI-chart h4{
        font-size: 1.5rem;
        margin-bottom: 52px;
    }
    
    
    .BMI-chart table {
        font-size: 0.80rem;
    }
    
    .BMI-chart thead td {
        font-size: .90rem;
    }
    
    .BMI-calculator h4{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .BMI-calculator p{
        font-size: .80rem;
        margin-bottom: 30px;
    }
    .calculate-form{
        margin-bottom: 30px;
    }
    
    .input_1,
    .input_2,
    .input_3,
    .input_4,
    .input_5{
        font-size: .90rem;
        padding: 14px 0 14px 20px;
    }
    .btn-for-mobile2{
        width: 60%;
    }

    /* Meet trainer section */
    .Meet-section h3{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    .Meet-title p{
        font-size: .80rem;
    }
    .Meet-title .for-desktop{
        display: inline;
    }

    /* Footer section */
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .Fitness h3{
        font-size: 4rem;
        font-weight: 800;
    }
    .Fitness p{
        max-width: 315px;
        color: rgba(255, 255, 255, 0.5);
        font-size: .90rem;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
    .footer-contact{
        flex-direction: column;
        gap: 30px;
    }
    .footer-service h3{
        font-size: 1.9rem;
        margin-bottom: 15px;
    
    }
    .footer-service li{
        margin-bottom: 10px;
    }
    .footer-service a{
       font-size: 1.1rem;
    }
    footer .copyright{
        padding-bottom: 100px;
    }
    hr{
       width: 90%;
    
    }
    .copyright p{
        font-size: 1rem;
        }
}